[submodule "ubuntu-base"]
	path = ubuntu-base
	url = git@github.com:withinboredom/docker-base.git
[submodule "consul"]
	path = consul
	url = git@github.com:withinboredom/docker-consul.git
[submodule "consul-agent"]
	path = consul-agent
	url = git@github.com:withinboredom/docker-consul-agent.git
[submodule "consul-ui"]
	path = consul-ui
	url = git@github.com:withinboredom/docker-consul-ui.git
[submodule "rethinkdb"]
	path = rethinkdb
	url = git@github.com:withinboredom/docker-rethinkdb.git
[submodule "blue-volume"]
	path = blue-volume
	url = git@github.com:withinboredom/docker-blue-volume.git
[submodule "green-volume"]
	path = green-volume
	url = git@github.com:withinboredom/docker-green-volume.git
